{% extends 'base.html' %}
{% block extend_title %}
<title>Home</title>
{% endblock %}
{% block extend_body %}
<body>
<h1>Greetings!</h1>
{% if request.user.is_authenticated %}
<br>
<input type="button" value="USD/RUB" onclick="location.href='{% url 'get_current_usd' %}'">
<br>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<form action="{% url 'login' %}">
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
<br>
<form action="{% url 'register' %}">
    {% csrf_token %}
    <button type="submit">Registration</button>
</form>
{% endif %}
</body>
{% endblock %}